@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
.react-calender{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}
.react-calender_title--active{
    background-color: #C3EBFA !important;
    color: black !important;
}
.react-calendar_navigation_label_labelText{
font-weight: 600;
}
.rbc-btn-group:first-child{
    display:none !important;
}
.rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px !important;
}
.rbc-btn-group:last-child{
    font-size: 13px !important;
}
.rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}
.rbc-toolbar button.rbc-active{
    background-color: #dbdafe !important;
    box-shadow: none !important;
}
.rbc-time-view{
    border-color: #eee !important;
}
.rbc-time-header{
    display: none !important;
}

.rbc-time-content{
    border: none !important;
}
.rbc-time-gutter .rbc-time-column{
    font-size: 12px !important;
}
.rbc-time-gutter .rbc-time-column .rbc-timeslot-group{
    padding: 0px 20px !important;
}
.rbc-timeslot-group{
    background-color: #f7fdff !important;
}
.rbc-day-slot{
    font-size: 14px !important;
}
.rbc-event{
    border: none !important;
    color: black !important;
    padding: 10px !important;
    margin: 10px !important;
    width: 99% !important;
}
.rbc-event:nth-child{
    background-color: #e2f8ff !important;
}
.rbc-event:nth-child{
    background-color: #fefce8 !important;
}
.rbc-event:nth-child{
    background-color: #f2f1ff !important;
}
.rbc-event:nth-child{
    background-color: #fdf2fb !important;
}
.rbc-event:nth-child{
    background-color: #e2f8ff !important;
}
.rbc-event:nth-child{
    background-color: #f2f1ff !important;
}
.rbc-event:nth-child{
    background-color: #fdf2fb !important;
}
.rbc-event-label{
    color: gray !important;
    margin-bottom: 5px !important;
}